<!DOCTYPE html>
<html>

    <script>
            function home(){
                window.location.href = "http://localhost:5006/aluno/add";
            }
    </script>

    <head>
        <meta charset="utf-8">
        <title>Sucesso</title>
    </head>

    <body>
        <h1>CADASTRADO COM SUCESSO !</h1>

         <br>
        <button type="submit" onclick="home()">TELA INICIAL</button><br>
    </body>


</html>